body{
    height: fit-content;
    width:auto;  
}

.board{
    
    height: fit-content;
    width: fit-content;

    align-items: safe;
    margin: auto;
}
.board button{
    width: 3em;
    height: 3em;
    background-color: gray;
    margin: 1px;
    border: 4px solid black;
    border-radius: 50%;
}
